.categories {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease-in-out;
}
  
.categories:hover {
    color: #63B3ED;
    transform: translateX(5px);
}
  
.categories.active {
    color: #63B3ED;
    font-weight: bold;
    background-color: rgba(16, 185, 129, 0.1);
}
  
.categories:focus,
.categories:active {
    color: #63B3ED;
    font-weight: bold;
    background-color: rgba(16, 185, 129, 0.1);
    border-radius: 0.375rem;
    transition: none;
}
  
.categories a {
    display: flex;
    align-items: center;
}
  
.categories:focus a {
    font-weight: bold;
}
  
.categories .ml-2 {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.Toastify__progress-bar--success {
    background-color: #4299E1 !important;
}